body {
    background-color: black;
    background-image: url(Jw9g1j.jpg);
}

h1 {
    font-size: 90px;
    color: red;
    text-align: center;
}
p{
    color: red;
    text-align: center;
}